@model IEnumerable<ControleDeContatos.Models.Usuario>

@{
    ViewData["Title"] = "Listagem de usuarios";
}

<div class="text-center">

    <div class="d-grid-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-action="Criar" asp-controller="Usuarios">Adicionar novo usuario</a>
    </div>
    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>

    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>

    }

    <br />

    <h1 class="display-4">Listagem de usuários</h1>

    <table class="table" id="table-usuarios">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Perfil</th>
                <th scope="col">Senha</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Nome</td>
                    <td>@item.Login</td>
                    <td>@item.Email</td>
                    <td>@item.Perfil</td>
                    <td>@item.Senha </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary  btn-outline-dark" asp-route-id="@item.Id" asp-controller="Usuarios" asp-action="Editar">Editar</a>
                            <a role="button" class="btn btn-danger  btn-outline-dark" asp-route-id="@item.Id" asp-controller="Usuarios" asp-action="TelaExclusao">Apagar</a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
